

/* Animation  */

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}


body, html{
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden; 
  /* background-color: #e2e7ee; */
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#mainContent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(238,174,202);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(238,174,202);
}

input:focus {
  background-color: rgb(238,174,202);
  border-radius: 4px;
}

button:hover, button:active {
background-color: rgb(238,174,202);
}

#container{
  padding-top:10px;
  width: 280px;
  height: 400px;
  background-color: white;
  border-radius: 8px;

  /* couleur 1 onglet, 2 fond */
  overflow-y:scroll;
  scrollbar-color: #e4e7ec;   
}

/* Chrome */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background:white;
  -webkit-border-radius: 1ex;
}

/* Chrome - onglet */
::-webkit-scrollbar-thumb {
  background:#c8b4d7;
  -webkit-border-radius: 0ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* firefox - fond blanc onglet gris*/
::-webkit-scrollbar-corner {
  background:white;
}

#monMessage, #chatBotMessage {
  color: black;
}

/*  création DIV */
.monMessage,.chatBotMessage{
  width: 70%;
  padding: 10px 25px;
  margin: 5px 0;
  color: #e8c4da;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.monMessage{ 
  width: 60%;
  background-color:#e8c4da;
  border-radius: 20px 0px 10px 20px;
  margin-right: 10px;
  float: right;
  color: white;
  text-align: right;
}

.chatBotMessage{ 
  background-color: rgba(148,187,233,1);
  float:left;
  border-radius: 0px 20px 20px 10px;
  padding: 10px 10px;
  margin-left: 10px;
  color: white;
  text-align: left;

  /* Animation */
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
}

#gradient{
  height: 20px;
  width: 100%;
  background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(2,0,36,0) 70%);
  opacity: 0.2;
  position: absolute;
  bottom: 50px;
  
}

#designB{
  border-radius: 8px;
  width: 100%;
  z-index: 999;
  margin-top: 10px;
  height: 50px;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

input, button{
  border-radius: 4px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  background-color: #95bbe9;
  color:#ffffff;
  padding: 10px;
  margin: 4px;
  border: 0px;
}

#contBouton{
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

#windows{
  width: 280px;
  background-color: #f1f3ff;
  padding: 10px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #bec9fa;
  box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.1);
  color:#95bbe9;
  font-size: 12px;
}

 p.intro{   font-size: 11px; margin: 10px; text-transform: uppercase; font-weight: bold;
color: black;}


*:focus {
  outline: none;
}

@media screen and (max-width: 800px) {

          html {
            padding: 20px;
          }

          #container{
            padding-top:10px;
            width: 280px;
            height: 340px;
            background-color: white;
            border-radius: 8px;

            /* couleur 1 onglet, 2 fond */
            overflow-y:scroll;
            scrollbar-color: #e4e7ec;   
          }

          .monMessage,.chatBotMessage{
            width: 70%;
          }

}